.menu {
    background-color: rgb(255, 255, 255);
    height:  3em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo{
    background-color: rgb(255, 255, 255);
    height: 3em;
    width: 6em;
    padding: 0 1em;
}

.menu-botones{
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 0 1em;

}

.menu-botones a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}