.menu {
    background-color: antiquewhite;
    height:  3em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo{
    background-color: aquamarine;
    height: 3em;
    width: 6em;
    padding: 0 1em;
}

.menu-botones{
    background-color: aquamarine;
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 0 1em;

}

.menu-botones a {
    text-decoration: none;
    color: white;
}