.Inicio {
    background-color: rgb(196, 0, 0);
    width: 100%;
    min-height: 100vh;
}

.Inicio button {
    width: 45%;
    padding: 1em;
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    border: white;
    margin: 1.5em 0;
}

.Inicio button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}