body {
    background-image: url(../public/assets/fondoLogin.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    margin-bottom: 0.9em;
    font-size: 3em;
}

section {
    background-color: #4ccd99;
    opacity: 0.8;
    width: 28em;
    height: 24em;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

input {
    display: flex;
    margin: 1em 0em;
    width: 50%;
    height: 2.1em;
    border-radius: 1em;
    border: 1px solid rgb(255, 255, 255);
    padding-left: 2.5em;
    padding-right: 2em;
    font-size: 1em;
    outline: none;
}

input:hover {
    background-color: rgb(131, 129, 141);
    border: transparent;
}

section button {
    width: 45%;
    padding: 1em;
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    border: white;
    margin: 1.5em 0;
}

section button:hover{
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

.icon1 {
    position: absolute;
    margin-top: 1.5em;
    margin-right: 16em;
}

.icon2 {
    position: absolute;
    margin-top: 5.7em;
    margin-right: 16em;
}

.olvidaste {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 0.5em;
}
