*{
  margin: 0;
  padding: 0;
}

html,
body {
      font-size: 18px;
      background-color: rgb(255, 255, 255);
  }


.App{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}